.single-case-studies-container {
    background-position: center bottom!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	height: 100vh;
	width: 100%!important;
}

.single-case-header {
    text-align: center;
    // bottom: 5vh;
    // margin-right: 1rem;
    vertical-align: middle;
    padding-top: 45vh;
    font-size: 1.2rem;
}


.single-case-studies-container {
    background-repeat: no-repeat!important;
    height: 50vh!important;
}

.single-case-detail-container {
    width: 90%;
    margin: 0 auto;
}

.single-case-detail {
    text-align: left !important;
    width: 80%;
    margin: 3vh auto 5vh auto;
}

.single-case-img-container {
    text-align:center; /* Align center inline elements */
    font: 0/0 a;       /* Hide the characters like spaces */
    width: 5%;
    margin: 0 auto;
}
  
.single-case-img-container:before {
    // content: ' ';
    // display: inline-block;
    // vertical-align: middle;
    // height: 100%;
}
  
.single-case-img-container img {
    // vertical-align: middle;
    // display: inline-block;

    @media screen and (max-width: 768px) {
        // display: flex;

    }
}