.lets-talk-form-wrapper {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    
    @media only screen and (max-width: 767px) {
		/* phones */
		padding: 1.25rem;
	}
    @media only screen and (min-width: 768px) {
		/* tablets and desktop */
		width: 60vw;
	}
}

.form-control {
    background: #191919;
    border: 1px solid #414141;
    color: #a9a9a9 !important
}

input::placeholder {
    color: #a9a9a9 !important
}