.security-margin {
    // background-color: #191919 !important;
    margin: 0 auto;
}

.safeguard-mobile-container {
    display: none;
    
    @media only screen and (max-width: 768px) {
        /* tablets and desktop */
        display: block;
    }
}

.safeguard-svg {
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 767px) {
		/* phones */
		display: none;
	}
}

.security-panels {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

    h5 {
        font-size: 20px;
        font-weight: bold;
        text-align: left;
    }
}

.three-circles {
    // max-width: 99vw; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}

.security-panels:nth-child(1), .security-panels-circle:nth-child(1),
#first-circle {
    background-color: #191919;
}

.security-panels:nth-child(2), .security-panels-circle:nth-child(2),
#second-circle{
    background-color: #1C1C1C;
}

.security-panels:nth-child(3), .security-panels-circle:nth-child(3),
#third-circle{
    background-color: #292929;
}

.line-through-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #707070; 
    line-height: 0.1em;
    margin: 10px 0 20px; 

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.line-through-text span { 
    background: #202020; 
    padding:0 2vw; 
    font-size: .8em;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 2px;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.mobile-iot {
    display: none;
    font-size: .8em;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 2px;

    @media only screen and (max-width: 768px) {
        display: block;
    }
}

.top-circle {
    height: 30vh;
    width: 30vh;
    margin: 2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #707070;
    box-shadow: 0 0 0 8.5px white, 0 0 0 1px transparent, 0 0 0 9px transparent;


    @media only screen and (max-width: 768px) {
        height: 20vh;
        width: 20vh;
    }
}

.darkest {
    box-shadow: 0 0 0 8.5px #191919, 0 0 0 1px white, 0 0 0 9px white;
}

.darker {
    box-shadow: 0 0 0 8.5px #1C1C1C, 0 0 0 1px white, 0 0 0 9px white;
}

.dark {
    box-shadow: 0 0 0 8.5px #292929, 0 0 0 1px white, 0 0 0 9px white;
}

.number-circle {
    font-size: 40px;
    font-weight: 550;
    letter-spacing: 6px;
}

.circle-title {
    font-weight: bold;

    @media only screen and (max-width: 768px) {
        font-size: .9rem;
    }
}

.regtangular {
    margin: 5vh 5vh 2vh 5vh;

    @media only screen and (max-width: 768px) {
        margin: 2vh 5vh 2vh 5vh;
    }
}

g#Rectangle_25:hover {
    background-color: white;
    color: #000 !important;
}